<app-header-links></app-header-links>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center title">
            <h1>Add New Schedule</h1>
          </div>
        </div>


        <div class="row align-items-center">

          <div class="col mt-4"><label>Flight Id</label>
            <input class="form-control" placeholder="Flight ID" type="number" [(ngModel)]="schedule.Flight_ID">
          </div>
        </div>

        <div class="row align-items-center">

          <div class="col mt-4"><label>Source</label>
            <input class="form-control" placeholder="Source Location" type="text" [(ngModel)]="schedule.Source_Loc">
          </div>
        </div>

        <div class="row align-items-center">

          <div class="col mt-4"><label>Destination </label>
            <input class="form-control" placeholder="Destination Location" type="text"
              [(ngModel)]="schedule.Destination">
          </div>
        </div>

        <div class="row align-items-center">

          <div class="col mt-4"><label>Departure time </label>
            <input class="form-control" placeholder="Departure Time" type="time" [(ngModel)]="schedule.Dep_Time">
          </div>
        </div>
        <div class="row align-items-center">

          <div class="col mt-4"><label>Arrival time </label>
            <input class="form-control" placeholder="Arrival Time" type="time" [(ngModel)]="schedule.Arr_Time">
          </div>
        </div>
        <!--<div class="row align-items-center">

          <div class="col mt-4"><label>Duration </label>
            <input class="form-control" placeholder="Duration" type="time" [(ngModel)]="schedule.Duration">
          </div>
        </div>-->
        <div class="row align-items-center">

          <div class="col mt-4"><label>Departure Date </label>
            <input class="form-control" placeholder="Departure Date" type="date" [(ngModel)]="schedule.Dep_Date">
          </div>
        </div>

        <div class="row align-items-center">

          <div class="col mt-4"><label>Status</label>
            <input class="form-control" placeholder="Schedule Status" type="text" [(ngModel)]="schedule.status">
          </div>
        </div>

        <div class="row align-items-center">

          <div class="col mt-4"><label>Business Class Ticket Price</label>
            <input class="form-control" placeholder="Business Class Ticket Price" type="number" [(ngModel)]="schedule.Price_BC">
          </div>
        </div>
        <div class="row align-items-center">

          <div class="col mt-4"><label>First Class Ticket Price</label>
            <input class="form-control" placeholder="First Class Ticket Price" type="number" [(ngModel)]="schedule.Price_FC">
          </div>
        </div>
        <div class="row align-items-center">

          <div class="col mt-4"><label>Economic Class Ticket Price</label>
            <input class="form-control" placeholder="Economic Class Ticket Price" type="number" [(ngModel)]="schedule.Price_EC">
          </div>
        </div>

        <div class="row justify-content-start mt-4">
          <div class="col">
            <button (click)="InsertSchedule()" class="btn btn-primary mt-4">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>