<div class="container-fluid">
  <div class="row">
   
    <div class="col">
      <div class="login ">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="login-heading mb-4"> Reset Password</h1>
              <form #resetForm="ngForm">
                <label >Email address</label>
                <div class="form-label-group">
                  <input type="email" #mail="ngModel" [(ngModel)]="user.Email" name="inputEmail" class="form-control" email required>
                </div>
                <div *ngIf="mail.errors">
                  <small class="text-danger" *ngIf="mail.errors.required">Enter your registered email to get OTP</small>
                  <small class="text-danger" *ngIf="mail.errors.email">Enter a valid email</small>
                </div>
<br>
                <label>Enter OTP</label>
                <div class="form-label-group">
                  <input type="text" name="inputOTP" #otp="ngModel" [(ngModel)]="user.otp" class="form-control" maxlength="6" required>
                </div>

    <button class="btn btn-success" (click)="getOTP()">Get OTP</button>
    <br>
    <div>
      <small class="text-danger">{{msg1}}</small>
    </div>
<br>
                <label>Password</label>
                <div class="form-label-group">
                  <input type="password" name="pass" #pass="ngModel" [(ngModel)]="user.Password" class="form-control" required>
                </div>
<br>

                 <label>Confirm Password</label>
                <div class="form-label-group">
                  <input type="password" name="inputPassword" appConfirmEqualValidator="pass" #cpass="ngModel" [(ngModel)]="user.ConfirmPassword" class="form-control" required>
                </div>
<div *ngIf="cpass.dirty">
                  <!-- <small class="text-danger" *ngIf="cpass.errors.notEqual">Passwords must match</small> -->
                </div>
                 <br>
<div>
  <small class="text-danger">{{msg}}</small>
</div>
<br>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="OnReset()" [disabled]="resetForm.form.invalid ">Reset</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


