

.wrapper{  
  width: 500px;
  height:100vh;
  border: 1px #ccc solid;
  padding:20px;
  background-color: #fff;
  background-color: rgba(245, 245, 245, 0.6);  
  animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter;
  

}

.logo{
  background-color: #707784;
  width: 400px;
  height:150px;
  
}


.centrebtn{
  Display: flex;
  Justify-content : center;
  Align-items : center
}

.color{
  background-color:#123790;
  color:white;
 
}

@keyframes cardEnter {
  from {
    transform: translateY(100vh);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}