<div class="wrapper">
  
  <div class="card-content">
    <div class="row centrebtn">
      <div class="logo centrebtn">
        <p style="color:white">Logo</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6 " style="float:right"> 
        <label for="Source">Source:</label>
        <select class="form-control"></select>
        
      </div> 
      
        <div class="col-6 " style="float:right"> 
          <label for="Source">Destination:</label>
          <select class="form-control"></select>
        </div>
    </div>
    <br>

    <div class="row">
      <div class="col-6 " style="float:right"> 
        <label for="DD">Departure Date</label>
    <input type="date" class="form-control"></div>
      
        <div class="col-6 " style="float:right"> 
          <label for="RD">Return Date:</label>
          <br>
          <input type="date" class="form-control"><br></div>
    </div>
    <br>
    <div class="row">
      <div class="col-6 centrebtn">
        <label for="male">One Way</label>
  <input type="radio" name="gender" id="male">
      </div>
      <div class="col-6 centrebtn">
  <label for="male">Round Trip </label>
    <input type="radio" name="gender" id="male" value="male"> </div> 
      </div>
      <br>

      <div class="row" style="align-items: center;">
        <div class="col" >
      <button class="btn color centrebtn" style="width: 300px; margin:0 auto"> Search Flights</button></div>
      </div>
      
    </div>


    
  </div>


