.wrapper{
  display:flex;
  flex-direction: column;
  /* border: 1px #ccc solid; */
  height: 100vh;
}


.wrapper app-header{
  flex:1;
  /* border: 1px #ccc solid; */

  /* background-color: aqua; */
}

.wrapper app-blank
{
  /* border: 1px #ccc solid; */

  flex:3;
  /* background-color: blue; */
}

.wrapper app-searchcard{
  /* flex:5.5; */
  /* border: 1px #ccc solid; */

  /* background-color: brown; */
  height:100vh;
}



