.wrapper{
  display:flex;
  flex-direction: row;
  height: 100%;


  flex-direction: column;
  /* background-image: url('/assets/home.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */
  background-color: #023e8a;
}
 /* app-header{
  flex:1;
} */
 
 .out{
   height: 100%;
 }



